@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #f5f8fa;
}

header {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.logo {
    width: 20%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
}

.auth-status {
    position: fixed;
    bottom: 60px;
    left: 20px;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.status-text {
    color: #888;
    margin-right: 10px;
}
