.post-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 40%;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
}

.post-container form {
    display: flex;
    flex-direction: column;
}

.post-form-group {
    margin-bottom: 15px;
}

.post-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: inherit;
    color: #333;
}

.post-form-group input,
.post-form-group textarea {
    width: 97%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.post-form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.post-submit {
    background-color: #6bdf55;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.post-submit:hover {
    background-color: #95f880;
}
